/* import font from font.css */
@import url(./fonts.css);

/* CSS variables */
@import url(./partials/_variables.css);

/* Global CSS Styles */
@import url(./partials/_global.css);

/*================== Navigation Start ==================*/
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 10rem;
  /* padding-right: 5%; */
}

.header_area .main-menu .navbar .nav-link {
  font-family: var(--roboto);
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem;
  color: var(--title-color);
  font-size: 1.3rem;
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/*================== Navigation end ==================*/

/*================== Banner Start ==================*/

.site-main .site-banner .site-title h3 {
  padding-top: 30%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 15vw;
  display: inline-block;
  margin-left: 5%;
  background: black;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 3rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.3rem;
}

.site-main .site-banner .banner-image > i {
  padding: 7rem 0;
  width: 25rem;
  text-align: center;
  font-size: 16rem;
}

/*================== Banner End ==================*/

/*================== About Start ==================*/

.site-main .about-area {
  padding: 8rem 1rem;
}

.site-main .about-area .about-title h3 > span {
  display: inline-block;
  font: normal bold 50px/60px var(--roboto);
  letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.2rem 0;
}

/*================== About end ==================*/

/*================== Services Start ==================*/

.site-main .services-area {
  padding: 4rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0.1rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}
.site-main .services-area .services {
  background: rgba(248, 252, 253, 0.95);
  padding: 2rem 0;
  width: 14rem;
  margin: 3rem 0.5rem;
  transition: box-shadow 0.5s ease;
}

.site-main .services-area .services:hover {
  box-shadow: var(--box-shadow);
}
/*================== Services End ==================*/

/*================== Skills Start ==================*/

.site-main .skills-area {
  padding: 1rem 4rem;
  margin-bottom: 4rem;
}

.site-main .skills-area .skills-title > h1 {
  font-size: 35px;
}

.site-main .skills-area .row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .skills-area .row .single-skill > a {
  text-decoration: none;
  color: var(--title-color);
}

.site-main .skills-area .row .single-skill a > i {
  /* border: 1px solid var(--border-color); */
  text-align: center;
  padding: 1.8rem 0;
  margin: 0.8rem 0;
  height: 100px;
  width: 120px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.site-main .skills-area .row .single-skill:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

/*================== Skills End ==================*/

/*================== Footer Start ==================*/

.footer-area {
  padding: 4rem 0;
}

.footer-area .social h5 {
  font: normal 500 23px/30px var(--roboto);
}

.footer-area .social a > i {
  font-size: 32px;
  padding: 2rem;
  color: var(--title-color);
  transition: 0.4s ease;
}

.footer-area .social a > i:hover {
  transform: scale(1.5);
  color: rgba(103, 191, 116, 1);
}

/*================== Footer End ==================*/
